<p>Choose a border <b>colour</b>:</p>
<ul>
	<li><a href="<%= url '/images/filter/colour-border/colour-chosen?colour=0000FF' %>">Blue</a></li>
	<li><a href="<%= url '/images/filter/colour-border/colour-chosen?colour=FF0000' %>">Red</a></li>
	<li><a href="<%= url '/images/filter/colour-border/colour-chosen?colour=008000' %>">Green</a></li>
	<li><a href="<%= url '/images/filter/colour-border/colour-chosen?colour=FFFF00' %>">Yellow</a></li>				
	<li><a href="<%= url '/images/filter/colour-border/colour-chosen?colour=00FFFF'%>">Cyan</a></li>
	<li><a href="<%= url '/images/filter/colour-border/colour-chosen?colour=7F007F' %>">Purple</a></li>	
	<li><a href="<%= url '/images/filter/colour-border/colour-chosen?colour=FFA500' %>">Orange</a></li>		
	<li><a href="<%= url '/images/filter/colour-border/colour-chosen?colour=FFC0CB' %>">Pink</a></li>	
	<li><a href="<%= url '/images/filter/colour-border/colour-chosen?colour=808080' %>">Gray</a></li>		
	<li><a href="<%= url '/images/filter/colour-border/colour-chosen?colour=000000' %>">Black</a></li>	
</ul>
