<div>
	<h1>Get Credits</h1>

		<p>> <img src='<%= url '/images/coin.png' %>' width='10px' height='10px' /> 50 for 50 moola <a href="http://bilpng.internal.mxit.com/Transaction/PaymentRequest/?VendorId=412&TransactionReference=<%= get_moola_transaction_reference %>&CallbackUrl=http://<%= request.host %>/credits-bought?amount=50&ProductId=1&ProductName=50+PhotoForge+credits&ProductDescription=PhotoForge+credits+can+be+use+to+buy+filters+in+PhotoForge&MoolaAmount=50&CurrencyAmount=50">Buy</a></p>		
		<p>> <img src='<%= url '/images/coin.png' %>' width='10px' height='10px' /> 100 for 100 moola <a href="http://bilpng.internal.mxit.com/Transaction/PaymentRequest/?VendorId=412&TransactionReference=<%= get_moola_transaction_reference %>&CallbackUrl=http://<%= request.host %>/credits-bought?amount=100&ProductId=1&ProductName=100+PhotoForge+credits&ProductDescription=PhotoForge+credits+can+be+use+to+buy+filters+in+PhotoForge&MoolaAmount=100&CurrencyAmount=100">Buy</a></p>
		<p>> <img src='<%= url '/images/coin.png' %>' width='10px' height='10px' /> 200 for 200 moola <a href="http://bilpng.internal.mxit.com/Transaction/PaymentRequest/?VendorId=412&TransactionReference=<%= get_moola_transaction_reference %>&CallbackUrl=http://<%= request.host %>/credits-bought?amount=200&ProductId=1&ProductName=200+PhotoForge+credits&ProductDescription=PhotoForge+credits+can+be+use+to+buy+filters+in+PhotoForge&MoolaAmount=200&CurrencyAmount=200">Buy</a></p>		

	<br />
</div>