<div>
	<a href="<%= url '/images/upload' %>">New</a> | <a href='<%= url '/stream' %>'> Stream</a> | <a href="<%= url '/images' %>">Forge</a> | <a href="<%= url '/credits' %>">Credits</a>: <%= get_user.credits %> | <a href="/help">Help</a>
</div>
<br />