<div>
	<div>
		<p>Welcome to PhotoForge, a new app that allows you to make your photos <span style="color:#FF0000">awesome</span> by applying a wide variety of filters to them! Try making one <a href='<%= url '/images/upload' %>'>now</a>!</p>
	</div>
	<div>
		<ul>
			<li><a href='<%= url '/stream' %>'>Public Stream - see other people's photos</a></li>
			<li><a href='<%= url '/images/upload' %>'>New Photo - make your own photo</a></li>
			<li><a href='<%= url '/images' %>'>My Forge - see all your own photos</a></li>
			<li><a href='<%= url '/credits' %>'>Get Credits - get more credits</a></li>
		</ul>
	<div>
</div>