<div>
	<div>
		<p>Welcome to PhotoForge, a new app that allows you to make your photos <span style="color:#FF0000">awesome</span> by applying a wide variety of filters to them! Try making one <a href='<%= url '/images/upload' %>'>now</a>!</p>
	</div>
	<div>
		<ul>
			<li><a href='<%= url '/stream' %>'>Public Stream</a> - Share photos with your friends in the Public Stream</li>
			<li><a href='<%= url '/images/upload' %>'>New Photo</a> - Make your own photo</li>
			<li><a href='<%= url '/images' %>'>My Forge</a> - Your photos</li>
			<li><a href='<%= url '/credits' %>'>Get Credits</a> - Get more credits</li>
		</ul>
	<div>
</div>