<div>
	<h1>Step 4: Your photo</h1>
	<div>
		<img src= <%= @image.image.url %> width='300px' />
		<% @image.hashtags.split.each do |hashtag| %>

			#<%= hashtag %> 

		<% end %> |
		<a href= <%= url '/images/save/confirm/' + @image.id.to_s %>>Save to Gallery</a> (5 credits) | <a href= <%= url '/images/publish/' + @image.id.to_s %>>Publish to Stream</a> (5 credits) | <a href= <%= url '/images/delete/confirm/' + @image.id.to_s %>>Delete</a>		
		<p>Your photo has automatically been saved to your <a href=<%= url '/images' %>>Forge</a>.</p>
	</div>
</div>	

