<div>
	<h1>Step 3: Your photo</h1>
	<div>
		<img src= <%= @image.image.url %> width='300px' />
		<a href= <%= url '/images/save/confirm/' + @image.id.to_s %>>Save to Gallery</a> (<img src='<%= url '/images/coin.png' %>' width='10px' height='10px' /> 5) | <a href= <%= url '/images/publish/' + @image.id.to_s %>>Publish to Stream</a> (<img src='<%= url '/images/coin.png' %>' width='10px' height='10px' /> 5) | <a href= <%= url '/images/delete/confirm/' + @image.id.to_s %>>Delete</a>		
		<p>Your photo has automatically been saved to your <a href=<%= url '/images' %>>Forge</a>.</p>
	</div>
	<br />
</div>	

