<div>
	<p><b style="color:#FF0000;">WARNING: If you upload pornography to PhotoForge you <i>will</i> be fined and banned!</b></p>
</div>
<div>
	<% @images.each do |image| %>
		<div>
			<img src= <%= image.image.url %> width='300px' />
			<% image.hashtags.split.each do |hashtag| %>

				#<%= hashtag %> 

			<% end %> | 		
			<a href= <%= url '/images/save/confirm/' + image.id.to_s %>>Save to Gallery</a> (5 credits) | <a href= <%= url '/images/publish/' + image.id.to_s %>>Publish to Stream</a> (5 credits) | <a href= <%= url '/images/delete/confirm/' + image.id.to_s %>>Delete</a>
		</div>
		<br />
	<% end %>
</div>	