<p>Choose a border <b>colour</b>:</p>
<ul>
	<li><a href="<%= url '/images/filter/pattern-border/colour-chosen?colour=blue' %>">Blue</a></li>
	<li><a href="<%= url '/images/filter/pattern-border/colour-chosen?colour=red' %>">Red</a></li>
	<li><a href="<%= url '/images/filter/pattern-border/colour-chosen?colour=green' %>">Green</a></li>
	<li><a href="<%= url '/images/filter/pattern-border/colour-chosen?colour=yellow' %>">Yellow</a></li>				
	<li><a href="<%= url '/images/filter/pattern-border/colour-chosen?colour=cyan'%>">Cyan</a></li>
	<li><a href="<%= url '/images/filter/pattern-border/colour-chosen?colour=purple' %>">Purple</a></li>	
	<li><a href="<%= url '/images/filter/pattern-border/colour-chosen?colour=orange' %>">Orange</a></li>		
	<li><a href="<%= url '/images/filter/pattern-border/colour-chosen?colour=pink' %>">Pink</a></li>	
	<li><a href="<%= url '/images/filter/pattern-border/colour-chosen?colour=gray' %>">Gray</a></li>		
	<li><a href="<%= url '/images/filter/pattern-border/colour-chosen?colour=black' %>">Black</a></li>
	<li><a href="<%= url '/images/filter/pattern-border/colour-chosen?colour=white' %>">White</a></li>		
</ul>