<div>
	<p><b>Search:</b> #<%= @query.to_s %></p>
<div>
<br />
<div>
	<% @images.each do |image| %>
		<div>
			<img src= <%= image.image.url %> width='300px' />
			<p>
				<%= image.publish_date.strftime('%d-%m-%Y - %H:%M') %> - 

				<% image.hashtags.split.each do |hashtag| %>

					#<%= hashtag %> 

				<% end %> 
				
				<% unless image.likes.empty? %>
					-
					<%= image.likes.size.to_s %> likes	
				<% end %>

				<% if image.likes(:user => get_user).empty? %>
					-
					<a href= <%= url '/images/like/' + image.id.to_s %>>Like</a> (1 credit)
				<% else %>
					(liked)
				<% end %>
			</p>
		</div>
		<br />
	<% end %>
</div>
<br />