<p>Choose a text <b>colour</b>:</p>
<ul>
	<li><a href="<%= url '/images/filter/supertext/text-colour?colour=blue' %>">Blue</a></li>
	<li><a href="<%= url '/images/filter/supertext/text-colour?colour=red' %>">Red</a></li>
	<li><a href="<%= url '/images/filter/supertext/text-colour?colour=green' %>">Green</a></li>
	<li><a href="<%= url '/images/filter/supertext/text-colour?colour=yellow' %>">Yellow</a></li>				
	<li><a href="<%= url '/images/filter/supertext/text-colour?colour=cyan' %>">Cyan</a></li>
	<li><a href="<%= url '/images/filter/supertext/text-colour?colour=purple' %>">Purple</a></li>	
	<li><a href="<%= url '/images/filter/supertext/text-colour?colour=orange' %>">Orange</a></li>	
	<li><a href="<%= url '/images/filter/supertext/text-colour?colour=pink' %>">Pink</a></li>	
	<li><a href="<%= url '/images/filter/supertext/text-colour?colour=gray' %>">Gray</a></li>	
	<li><a href="<%= url '/images/filter/supertext/text-colour?colour=white' %>">White</a></li>	
	<li><a href="<%= url '/images/filter/supertext/text-colour?colour=black' %>">Black</a></li>	
</ul>
